* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(180, 58, 178, 1) 0%,
    rgba(255, 170, 117, 1) 50%,
    rgba(69, 145, 252, 1) 100%
  );

  font-family: "Helvetica", sans-serif;
}

.container {
  background-color: #fff;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  animation: boxContainer 3000ms 1 ease-in-out forwards;
  box-shadow: -3px 3px 51px 0px rgba(255, 51, 51, 0.8);
  text-shadow: 21px 40px 153px rgba(38, 181, 119, 0.3);
}

@keyframes boxContainer {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(1px, 36px);
  }
}

h1 {
  margin-top: 0;
  text-align: center;
}

input {
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
}

button {
  background-color: #ffdf95;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ffcf61;
}

#total {
  font-size: 20px;
  font-weight: 550;
  margin-top: 10px;
  margin-left: 2px;
}
